<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="gfm.css">
    <!-- <link rel="stylesheet" href="github-gist.css"> -->
    <link rel="stylesheet" href="github.css">
    <!-- <link rel="stylesheet" href="tomorrow-night.css"> -->
    <style>
    .markdown-body {min-width: 200px;max-width: 790px;margin: 0 auto;padding: 30px;overflow:scroll}
    </style>
  </head>
  <body class="markdown-body">
    <%=content%>
  </body>
</html>
